<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: myHeader"></div>

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

</head>
<body class="sb-nav-fixed">
	<div th:replace="navbar :: myNavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="sidebar :: mySidebar"></div>
		<!-- Form starts from here -->
		<div id="layoutSidenav_content">
			<div class="container">
				<br>
				<!-- <div class="spinner-grow text-muted"></div>
				<div class="spinner-grow text-primary"></div>
				<div class="spinner-grow text-success"></div>
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-warning"></div>
				<div class="spinner-grow text-danger"></div>
				<div class="spinner-grow text-secondary"></div>
				<div class="spinner-grow text-dark"></div>
				<div class="spinner-grow text-light"></div>
				<hr> -->
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
					<li class="breadcrumb-item active">Add Medicine Type</li>
				</ol>
				<form action="/addType" method="POST">
    

					<!-- Text input-->
					
					<fieldset class="border p-2">
						<legend class="w-auto"> Add Item Type </legend>
						<div class="form-group">
							<label class="col-md-4 control-label">Item Type</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input name="type"
										placeholder="Enter Item Type" 
										class="form-control" type="text" required>
								</div>

							</div>
						</div>
						<!-- Text input-->

						
						<!-- Select Basic -->
						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-4">
								<button id="addBtn" type="submit"
									class="btn btn-success float-right">SAVE</button>
							</div>
						</div>
					</fieldset>
				</form>
			
			<hr>
			<br/>
			<table id="customers">
			<tr th:each="list : ${list}">
			 <td th:text="${list.id}"></td>
			 <td th:text="${list.typeName}"></td>
			 
			 <td><a th:href="@{/deleteItemType/{id}(id=${list.id})}"
								class="btn btn-danger"> Delete </a></td>
								
			</tr>
			</table>
			</div>
		</div>
	</div>
	<div></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<div th:replace="footer :: myFooter"></div>
</body>
</html>