<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
<style>
.mainBody{
	width:100%;
	height:100%;
	object-fit: cover;
    background: url(https://cdn.dribbble.com/users/263266/screenshots/14867001/media/737a46a62688150db529b24e1049a3f8.jpg?compress=1&resize=1000x750&vertical=top);
}
</style>
<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
	<div th:replace="navbar :: myNavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="sidebar :: mySidebar"></div>
		<!-- Sidebar ends here -->
		<div id="layoutSidenav_content">
			<div class="mainBody">
			
			</div>
			
		</div>
	</div>
	
			
	
	 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		crossorigin="anonymous"></script>
	 <script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	

	

	
</body>
</html>